@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Mountains+of+Christmas:wght@400;700&display=swap');

:root {
    --blue: #AFDAE9;
    --light-b: #865A3F44;
    --mid-blue: #8DDBF2;
    --c-2: #4184cc;
    --brown: #865A3F;
    --veryLightBlue: #e9f5f9;
}

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial;
}

html {
    background: var(--veryLightBlue);
}

body {
    padding-top: 50px;
    margin: 0px;
    padding-left: 0px;
}

.imageBk {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 0px !important;
    padding: 0px;
}

menu {
    z-index: 999999;
    padding: 0px;
    margin-top: 0px !important;
    width: 100vw;
    height: 70px;
    background: var(--mid-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
}

menu a {
    color: var(--c-2);
    font-family: "Mountains of Christmas", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu a:hover,
.clicked {
    background: var(--c-2);
    color: var(--mid-blue);
    transition: 1s;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none !important;
}


/********************** START OF INTRO **********************/
intro img {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    height: calc(100vh - 50px);
    object-fit: cover;
    position: relative;
}

intro p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    background: var(--c-2);
}

/********************** END OF INTRO **********************/
.timeline {
    overflow-x: visible;
    transform: translate(0px, -5px);
    width: 100%;
    height: 100%;
    margin: 0px 10px;
}

.text {
    width: 90%;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 40px 30px;
    opacity: 0;
    transition: 3s;
    transform: translatey(0px);
    overflow-x: visible;
}

.text.active {
    opacity: 1;
    transform: translatey(0px);
}

.text.active::before {
    opacity: 1;
}

.text::before {
    opacity: 1;
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: -17px;
    border: medium solid white;
    border-width: 15px 17px 15px 0;
    border-color: transparent white transparent transparent;
}

#progress {
    position: absolute;
    height: 10px;
    width: 10px;
    background: var(--c-2);
    z-index: 5;
    overflow-x: visible;
}

#progress.active::after {
    transition: 0.5s;
    opacity: 1;
}

#progress::after {
    transition: 0.5s;
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: var(--blue);
    border: 5px solid var(--c-2);
    bottom: -10px;
    left: -7px;
    border-radius: 50%;
    z-index: 1000000;
    opacity: 0;
}

.header {
    margin: 0px;
    width: 100%;
    padding: 15px;
    color: white;
    background: var(--c-2);
    text-align: center;
    font-size: 36px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}


.time {
    font-size: 35px;
    color: var(--orange);
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.subTime {
    font-size: 28px;
    color: var(--c-2);
    font-family: "Mountains of Christmas", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.des {
    font-size: 15px;
    font-family: Arial;
}